---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.korean-content {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid #e9ecef;
}

// .english-content {
//   position: relative;
//   padding-top: 1rem;
  
//   &:before {
//     content: "🇺🇸 English Version";
//     display: block;
//     font-weight: bold;
//     margin-bottom: 1rem;
//     color: #1a73e8;
//   }
// }

// 비디오 컨테이너 스타일 수정
.responsive-video-container {
  position: relative;
  overflow: visible;
  width: 100%;
  max-width: 100%;
  margin-bottom: 2em;
  
  video {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
}
